.item {
  overflow: hidden;
  padding: 8px;
  margin-bottom: 4px;
  width: 180px;
  background-color: #fff;
  border-radius: 5px;
  border-bottom: 3px solid;
  font-weight: 400;

  .img {
    position: relative;

    img {
      display: block;
    }
  }

  .category {
    margin: 15px 9px 10px;
    font-size: 1.2rem;
    color: #aaa;
    letter-spacing: 1px;
    font-weight: 900;
  }

  .category::before {
    display: inline-block;
    margin-right: 5px;
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid;
    border-radius: 50%;
    content: '';
    vertical-align: -2px;
  }

  .description {
    margin: 10px;
    line-height: 1.5;
  }

  > a {
    display: block;
    padding: 8px 8px 11px;
    margin: -8px -8px -11px;
    color: #777;
    border-radius: inherit;
    transition: 0.3s;
  }

  > a:hover {
    opacity: 0.8;
    box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.3);
  }

  > a .img::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.4s linear;
    content: '';
  }

  > a:hover .img::before {
    opacity: 1;
  }

  > a .img::after {
    position: absolute;
    top: 50%;
    left: 150%;
    display: block;
    padding: 8px;
    margin: -19px 0 0 -40%;
    width: 80%;
    font-size: 1.6rem;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border: 3px solid #fff;
    opacity: 0;
    transition: 0.4s ease-in-out;
    content: 'MORE';
    letter-spacing: 3px;
  }

  > a:hover .img::after {
    left: 50%;
    opacity: 1;
  }
}

.item-md {
  width: 364px;

  > a .img::after {
    margin-left: -20%;
    width: 40%;
  }
}

.item-xl {
  width: 732px;

  > a .img::after {
    margin-left: -10%;
    width: 20%;
  }
}

@media screen and (max-width: 768px) {
  .wrap {
    .item-xl {
      width: 364px;

      > a .img::after {
        margin-left: -20%;
        width: 40%;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .wrap {
    .item-md {
      width: 180px;

      > a .img::after {
        margin-left: -40%;
        width: 80%;
      }
    }

    .item-xl {
      width: 180px;

      > a .img::after {
        margin-left: -40%;
        width: 80%;
      }
    }
  }
}
